$next-cyan: #2aaaaa;
$next-darkblue: #3f51b5;
$next-check-green: #168a16;
$next-todo-incomplete: #b0bcbc29;
$next-todo-complete: #bcbcbc8c;

// Material-ui Breakpoints
$break-xs: 375px;
$break-sm: 600px;
$break-md: 960px;
