#todo-item {
  margin: 0.5em;

  &.selected-item {
    box-shadow: 0px 0px 0px 4px cornflowerblue;
    transition: box-shadow 0.3s linear;
    margin: 0.5em;
  }

  .todo-text {
    margin-left: 1em;
  }

  .complete-button {
    min-width: 40px;
    max-width: 45px;

    svg {
      color: forestgreen;
    }
  }

  li {
    padding: 0em;
  }
}
